@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container {
    background: url('/img/template_container.png');
    background-size: 200% 210%;
    background-position: center;
    background-repeat: no-repeat;

    border: 6px solid #6d3b16;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 500px;
    margin: 10vh auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;

}

.container h1 {
    margin-top: 15px;
    font-family: VT323;
    font-weight: 500;
    font-size: 3rem;
}

.container p {
    font-family: VT323;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.1;
}

.social-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s;
}

.social-icon img:hover {
    transform: scale(1.2);
}

.container_social {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 150px;
    max-height: 150px;
    width: 100%;
    max-width: 250px;
    gap: 15px;

}

.social-icon {
    display: flex;
    align-items: center;
    min-height: 40px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: VT323;
    padding: 8px;
    transition: transform 0.2s ease-in-out;
}

.social-icon span {
    display: flex;
    align-items: center;
    text-decoration: none;
}