@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.btn {
    margin-bottom: 3vh auto;
    padding: 2vh 5vw;
    background: #dda059;
    color: black;
    border: 4px solid #8d5524;
    border-radius: 1vw;
    box-shadow: 4px 4px 0px #6d3b16; 
    cursor: pointer;
    font-family: VT323;
    font-weight: 600;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
    text-align: center;

}

.btn:hover {
    background-color: #6b3710; 
}

btn:active {
    box-shadow: 2px 2px 0px #6d3b16;
    transform: translate(2px, 2px);
}


.img_inicial {
    padding-top: 8vh;
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100%;

}    

.img_inicial > img {
    height: 90%;
    max-width: 100%;
}


.titulo {
    font-family: VT323;
    font-weight: 600;
    font-size: 2rem;
    color: black;      
    margin: 2vh 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%;
}

@media (min-width: 1400px) {
    .btn {
        font-size: 2rem; 
        padding: 12px 6vw;
    }


    .img_inicial {
        height: 40vh;
    }

    .titulo {
        font-size: 2.5rem; 
    }
}

@media (min-width: 1024px) {


    .img_inicial {
        height: 40vh;
    }

}    