main {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    gap: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7; 
    }
    100% {
        transform: scale(1);
        opacity: 1;

    }
}

.title_seasons {
    font-family: VT323;
    font-weight: 600;
    font-size: 2rem;
    color: black;      
    margin: 2vh 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%;
    animation: pulse 1.5s infinite;
}

.buttons_seasons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
    height: auto;
}

.btn {
    margin-bottom: 3vh auto;
    padding: 2vh 6vw;
    background: #dda059;
    color: black;
    border: 4px solid #8d5524;
    border-radius: 1vw;
    box-shadow: 4px 4px 0px #6d3b16; 
    cursor: pointer;
    font-family: VT323;
    font-weight: 600;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
    text-align: center;

}

.btn:hover {
    background-color: #6b3710; 
}

btn:active {
    box-shadow: 2px 2px 0px #6d3b16;
    transform: translate(2px, 2px);
}